numpy
yapf
tqdm
matplotlib
pytest
tensorboardX
torch --find-links https://download.pytorch.org/whl/torch_stable.html
torchvision --find-links https://download.pytorch.org/whl/torch_stable.html
pandas
